.aadhaarDiv{
   
    .image{
        width: 40vw;
        position: absolute;
         top: 15vh;
        left: 20vw;
    }
    .card{
        width: 40vw;
        height: 40vh;
        position: absolute;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0);
        font-size: 1.125vw;
        top: 23vh;
        left: 30vw;
        border: none;
    }
}